<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Video:</strong>
  <%= @song.video %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist.name %>
</p>
<!-- 
<iframe width="560" height="315" src="<%= @song.video %>" frameborder="0" allowfullscreen></iframe> -->

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

